html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button {
  outline: none; }

.product_header {
  background-color: #31343a;
  text-align: center;
  padding: 30px 0 20px 0; }
  .product_header img {
    width: 70%; }
  .product_header .main_info {
    color: #fff;
    margin-top: 30px;
    position: relative;
    padding: 0 10%; }
    .product_header .main_info .item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 15px; }
      .product_header .main_info .item span {
        font-weight: 700;
        color: #ffc500;
        font-size: 18px;
        letter-spacing: 1px; }
    .product_header .main_info .price {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: -10px;
      padding: 10px 20px;
      background-color: #ffc500;
      font-size: 22px;
      font-weight: 700;
      color: #31343a; }

.product_item .my_btn {
  margin: 0 auto; }

.product_name {
  text-transform: uppercase;
  font-weight: 700;
  color: #31343a;
  padding: 20px 0;
  border-bottom: 2px solid #ffc500;
  margin-bottom: 30px; }

.product_descr {
  margin-bottom: 20px; }
  .product_descr span {
    font-weight: 700; }

body {
  font-size: 16px;
  font-family: sans-serif; }

.overlay {
  height: 100%; }

.flex_container {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.half_div {
  width: 50%; }

.centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.accent_color {
  color: #ffc500; }

.w100 {
  width: 100%; }

.section_offset {
  padding: 60px 0; }

.section_title {
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

.section_title__lg {
  font-size: 34px; }

.section_title__sm {
  font-size: 26px; }

.block_title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px; }

.top_cart_btn,
.my_btn {
  background-color: #ffc500;
  border: none;
  padding: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 1;
  position: relative;
  text-align: center; }
  .top_cart_btn:after, .top_cart_btn:before,
  .my_btn:after,
  .my_btn:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s;
    transition: all .4s; }
  .top_cart_btn:before,
  .my_btn:before {
    z-index: -1;
    top: 0;
    background-color: #ffc500; }
  .top_cart_btn:after,
  .my_btn:after {
    z-index: -2;
    background-color: #d89002; }
  .top_cart_btn:hover,
  .my_btn:hover {
    -webkit-box-shadow: 0 0 20px 0 #ffc500;
    box-shadow: 0 0 20px 0 #ffc500;
    color: #31343a; }

.my_btn {
  display: block;
  width: 230px;
  font-weight: 700;
  color: #31343a;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px; }
  .my_btn:after {
    top: 4px; }
  .my_btn:hover {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }
    .my_btn:hover:after {
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px); }

.my_btn_md {
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px; }

.my_btn_lg {
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.top_logo {
  height: 75px;
  vertical-align: middle; }

nav {
  height: 95px;
  line-height: 95px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  nav .flex_container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.top_menu > li {
  float: left;
  margin: 0 10px; }
  .top_menu > li > a {
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: 14px;
    position: relative; }
    .top_menu > li > a:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #ffc500;
      -webkit-transition: all .4s;
      transition: all .4s; }
    .top_menu > li > a:hover:after {
      width: 100%; }

.top_phones {
  line-height: 1.4;
  height: 100%;
  margin-left: 30px !important;
  padding-top: 10px; }
  .top_phones a {
    display: block; }
    .top_phones a:after {
      display: none; }
    .top_phones a:last-child {
      font-size: 12px;
      color: #ffc500;
      margin-top: 3px;
      text-decoration: underline; }

.top_cart_btn {
  height: 45px;
  width: 45px;
  line-height: 45px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
  display: block;
  padding-top: 10px; }
  .top_cart_btn > img {
    width: 27px; }
  .top_cart_btn:after {
    top: 3px; }
  .top_cart_btn:hover {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px); }
    .top_cart_btn:hover:after {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px); }
  .top_cart_btn > span {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -4px;
    right: 0;
    background-color: #e74c3c;
    color: #fff;
    font-size: 8px;
    text-align: center;
    line-height: 17px;
    padding-left: 1px; }

.top_cart {
  height: 90px;
  position: relative; }

.cart_dd {
  position: absolute;
  width: 400px;
  top: 100%;
  right: -50px;
  background-color: #fff;
  line-height: 1.3;
  padding: 20px 15px 30px 15px;
  -webkit-box-shadow: 0 0 30px 0 #000;
  box-shadow: 0 0 30px 0 #000;
  display: none; }
  .cart_dd .rm_btn {
    width: 15px;
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .cart_dd > ul {
    margin-bottom: 20px; }
    .cart_dd > ul > li {
      padding: 10px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 1px solid rgba(49, 52, 58, 0.3); }
      .cart_dd > ul > li span {
        color: #ffc500; }
      .cart_dd > ul > li > div:last-child {
        font-weight: 700;
        color: #ffc500;
        padding-right: 15px; }
      .cart_dd > ul > li:hover .rm_btn {
        opacity: 1; }
  .cart_dd > .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .cart_dd > .footer > .sum {
      line-height: 40px;
      font-weight: 700; }
      .cart_dd > .footer > .sum span {
        color: #ffc500;
        font-size: 20px; }

.start_s {
  background-size: cover;
  color: #fff;
  height: 720px;
  background-position: center; }
  .start_s .overlay {
    padding-top: 180px;
    background-color: transparent; }

.start_title_img {
  width: 80%; }

.title_block h1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.title_block .my_btn {
  margin-top: 1.5rem; }

.constructor_main_s {
  background-size: cover;
  background-image: url("../img/constrBg.jpg"); }
  .constructor_main_s .overlay {
    padding: 7% 0;
    background-color: rgba(0, 0, 0, 0.5); }

.constr_main_title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
  font-size: 30px;
  line-height: 1.5; }

.contact_info .section_title,
.contact_map .section_title {
  text-align: left; }

.contact_cities {
  list-style-type: circle;
  margin-bottom: 40px; }
  .contact_cities li {
    color: #ffc500; }
    .contact_cities li span {
      color: #000;
      font-size: 18px; }

.contact_methods li {
  padding: 10px 0;
  text-decoration: underline; }
  .contact_methods li a {
    color: #000; }
  .contact_methods li img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px; }

.contact_map iframe {
  margin-top: 20px; }
