//!!!!!!!!!!!!!!!!!!!!!//
//  PRODUCTS SECTION  //
//!!!!!!!!!!!!!!!!!!!//

.product_header
	background-color: $dark
	text-align: center
	padding: 30px 0 20px 0
	img
		width: 70%
	.main_info
		color: #fff
		margin-top: 30px
		position: relative
		padding: 0 10%
		.item
			display: flex
			justify-content: space-between
			margin-bottom: 15px
			span
				font-weight: 700
				color: $accent
				font-size: 18px
				letter-spacing: 1px
		.price
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: -10px
			padding: 10px 20px
			background-color: $accent
			font-size: 22px
			font-weight: 700
			color: $dark

.product_item
	.my_btn
		margin: 0 auto
.product_name
	text-transform: uppercase
	font-weight: 700
	color: $dark
	padding: 20px 0
	border-bottom: 2px solid $accent
	margin-bottom: 30px

.product_descr
	margin-bottom: 20px
	span
		font-weight: 700























