@import reset
@import vars
@import products

//!!!!!!!!!!!!!!!!!!!!//
//  GENERAL CLASSES  //
//!!!!!!!!!!!!!!!!!!//
body
	font-size: 16px
	font-family: sans-serif
.overlay
	height: 100%

.flex_container
	width: 1170px
	margin: 0 auto
	display: flex
.half_div
	width: 50%
.centered
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
.accent_color
	color: $accent
.w100
	width: 100%
.section_offset
	padding: 60px 0
.section_title
	margin-bottom: 40px
	text-transform: uppercase
	letter-spacing: 4px
	text-transform: uppercase
	font-weight: 700
	text-align: center
.section_title__lg
	font-size: 34px
.section_title__sm
	font-size: 26px
.block_title
	font-weight: 700
	font-size: 18px
	margin-bottom: 20px
.top_cart_btn,
.my_btn
	background-color: $accent
	border: none
	padding: 0
	transition: all .4s
	z-index: 1
	position: relative
	text-align: center
	&:after,
	&:before
		content: ''
		position: absolute
		left: 0
		width: 100%
		height: 100%
		border-radius: 50px
		transition: all .4s
	&:before
		z-index: -1
		top: 0
		background-color: $accent
	&:after
		z-index: -2
		background-color: darken($accent_d, 10)
	&:hover
		box-shadow: 0 0 20px 0 $accent
		color: $dark
.my_btn
	display: block
	width: 230px
	font-weight: 700
	color: $dark
	text-transform: uppercase
	letter-spacing: 3px
	font-size: 14px
	&:after
		top: 4px
	&:hover
		transform: translateY(4px)
		&:after
			transform: translateY(-4px)

.my_btn_md
	height: 40px
	line-height: 40px
	border-radius: 40px
.my_btn_lg
	height: 50px
	line-height: 50px
	border-radius: 50px

//!!!!!!!!!!!!!!!!!!!//
//  NAVIGATION BAR  //
//!!!!!!!!!!!!!!!!!//
.top_logo
	height: 75px
	vertical-align: middle
nav
	height: 95px
	line-height: 95px
	background-color: transparentize(#000, .3)
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 999
	.flex_container
		justify-content: space-between
.top_menu
	>li
		float: left
		margin: 0 10px
		>a
			text-transform: uppercase
			color: #fff
			transition: all .4s
			font-size: 14px
			position: relative
			&:after
				content: ''
				position: absolute
				bottom: -4px
				left: 0
				width: 0
				height: 2px
				background-color: $accent
				transition: all .4s
			&:hover
				&:after
					width: 100%
.top_phones
	line-height: 1.4
	height: 100%
	margin-left: 30px !important
	padding-top: 10px
	a
		display: block
		&:after
			display: none
		&:last-child
			font-size: 12px
			color: $accent
			margin-top: 3px
			text-decoration: underline

.top_cart_btn
	height: 45px
	width: 45px
	line-height: 45px
	border-radius: 50%
	transition: all .4s
	cursor: pointer
	display: block
	padding-top: 10px
	>img
		width: 27px
	&:after
		top: 3px
	&:hover
		transform: translateY(3px)
		&:after
			transform: translateY(-3px)
	>span
		width: 17px
		height: 17px
		border-radius: 50%
		display: block
		position: absolute
		top: -4px
		right: 0
		background-color: $danger
		color: #fff
		font-size: 8px
		text-align: center
		line-height: 17px
		padding-left: 1px

.top_cart
	height: 90px
	position: relative
.cart_dd
	position: absolute
	width: 400px
	top: 100%
	right: -50px
	background-color: #fff
	line-height: 1.3
	padding: 20px 15px 30px 15px
	box-shadow: 0 0 30px 0 #000
	display: none
	.rm_btn
		width: 15px
		vertical-align: middle
		margin-right: 2px
		cursor: pointer
		opacity: 0
		transition: all .3s
	>ul
		margin-bottom: 20px
		>li
			padding: 10px 0
			display: flex
			justify-content: space-between
			border-bottom: 1px solid transparentize($dark, .7)
			span
				color: $accent
			>div
				&:last-child
					font-weight: 700
					color: $accent
					padding-right: 15px
			&:hover
				.rm_btn
					opacity: 1
	>.footer
		display: flex
		justify-content: space-between
		>.sum
			line-height: 40px
			font-weight: 700
			span
				color: $accent
				font-size: 20px



//!!!!!!!!!!!!!!!!!!//
//  START SECTION  //
//!!!!!!!!!!!!!!!!//

.start_s
	background-size: cover
	color: #fff
	height: 720px
	background-position: center
	.overlay
		padding-top: 180px
		background-color: transparentize(#000, 1)
.start_title_img
	width: 80%

.title_block
	h1
		font-weight: 700
		font-size: 2.5rem
		text-transform: uppercase
		margin-bottom: 1.5rem
	.my_btn
		margin-top: 1.5rem



//!!!!!!!!!!!!!!!!!!!!!!!!//
//  CONSTRUCTOR SECTION  //
//!!!!!!!!!!!!!!!!!!!!!!//


.constructor_main_s
	background-size: cover
	background-image: url('../img/constrBg.jpg')
	.overlay
		padding: 7% 0
		background-color: transparentize(#000, .5)

.constr_main_title
	text-transform: uppercase
	font-weight: 700
	margin-bottom: 30px
	color: #fff
	font-size: 30px
	line-height: 1.5



//!!!!!!!!!!!!!!!!!!!!!//
//  CONTACTS SECTION  //
//!!!!!!!!!!!!!!!!!!!//

.contact_info,
.contact_map
	.section_title
		text-align: left
.contact_cities
	list-style-type: circle
	margin-bottom: 40px
	li
		color: $accent
		span
			color: #000
			font-size: 18px

.contact_methods
	li
		padding: 10px 0
		text-decoration: underline
		a
			color: #000
		img
			height: 30px
			vertical-align: middle
			margin-right: 10px
.contact_map
	iframe
		margin-top: 20px
































